<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="wideDiv"> -->
  <h1>Gold: {{ gold }}</h1>
<!-- </div> -->
<div class="borderDiv">
  <h2>Farm</h2>
  <h4>(earns {{ pointVals.farm.min }} - {{ pointVals.farm.max }} golds)</h4>
  <input type="button" (click)="onFindGold('farm')" value="Find Gold!">
</div>
<div class="borderDiv">
  <h2>Cave</h2>
  <h4>(earns {{ pointVals.cave.min }} - {{ pointVals.cave.max }} golds)</h4>
  <input type="button" (click)="onFindGold('cave')" value="Find Gold!">
</div>
<div class="borderDiv">
  <h2>House</h2>
  <h4>(earns {{ pointVals.house.min }} - {{ pointVals.house.max }} golds)</h4>
  <input type="button" (click)="onFindGold('house')" value="Find Gold!">
</div>
<div class="borderDiv">
  <h2>Casino</h2>
  <h4>(earns/takes {{ pointVals.casino.min }} - {{ pointVals.casino.max }} golds)</h4>
  <input type="button" (click)="onFindGold('casino')" value="Find Gold!">
</div>
<div>
  <p *ngFor="let act of activities" class="{{ act.color }}">{{ act.message }}</p>